<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
	<File name="FileAppender" fileName="logs/oskari-dev.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
		<!--
		<Pattern>%d{ISO8601} %-5p [%t] %m%n</Pattern>
		 -->
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
	  <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>